{%extends 'ecommerce/user_template.html'%} {%block content%}
<title>Api</title>
<section>
    <div class="card" style="width: 100%; margin-bottom: 50px">
        <div class="h3 card-header">API MUA</div>

        <ul class="list-group">
            <li class="list-group-item">
                <b>KEY : </b>
                <b>{{user.key_api}}</b>
                <form action="/api" method="post" style="display: inline-block; margin: 0 20px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm">Change Key</button>
                </form>
            </li>
            {%if kindCategorys%} {%for item in kindCategorys%}
            <li class="list-group-item">
                <b>{{item.name|upper}}:</b>
                <b>GET</b>
                <i>{{base_domain}}/buyitemapi?key={{user.key_api}}&id={{item.id}}&number=NUMBER</i>
            </li>
            {%endfor%} {%else%}
            <div class="card" style="width: 100%; margin-bottom: 50px">
                <div class="h3 card-header">Không có data.</div>
            </div>
            {%endif%}
        </ul>
    </div>
</section>
<section>
    <div class="card" style="width: 100%; margin-bottom: 50px">
        <div class="h3 card-header">API THÊM</div>
        <ul class="list-group">
            <li class="list-group-item"><b>KEY : </b>{{user.key_api}}</li>
            {%if kindCategorys%} {%for item in kindCategorys%}
            <li class="list-group-item">
                <b>{{item.name|upper}}:</b>
                <b>POST</b>
                <pre>
          curl --location --request POST '{{base_domain}}/additemapi' \
          --header 'Content-Type: application/json' \
          --data-raw '{
              "key": "{{user.key_api}}",
              "id": "{{item.id}}",
              "value": "VALUE"
          }'
        </pre>
            </li>
            {%endfor%} {%else%}
            <div class="card" style="width: 100%; margin-bottom: 50px">
                <div class="h3 card-header">Không có data.</div>
            </div>
            {%endif%}
        </ul>
    </div>
</section>
<section>
    <div class="card" style="width: 100%; margin-bottom: 50px">
        <div class="h3 card-header">API THÔNG TIN USER</div>
        <b2 class="list-group-item"><b>KEY : </b>{{user.key_api}}</h2>
            <div>
                <b>USER INFO:</b>
                <b>GET</b>
                <i>{{base_domain}}/userinfoapi?key={{user.key_api}}</i>
            </div>
    </div>
</section>
{%endblock%}