{%extends 'ecommerce/user_template.html'%} {%block content%}
<title>Lịch sử nạp tiền</title>
<style>
    .custom-scrollbar {
        position: relative;
        overflow: auto;
    }
    
    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<section>
    <div class="card" style="width: 100%; margin-bottom: 10px">
        <div class="h3 card-header">LỊCH SỬ NẠP TIỀN</div>
        {%if page_obj%}
        <div class="table-wrapper-scroll-y custom-scrollbar" style="width: 100%; padding: 10px 10px">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Ngân hàng</th>
                        <th scope="col">Tiền nạp</th>
                        <th scope="col">Memo</th>
                        <th scope="col">Ngày nạp</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in page_obj%}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.bank}}</td>
                        <td>{{item.value}} VND</td>
                        <td>{{item.memo}}</td>
                        <td>{{item.pub_date}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
           
        </div>
    </div>
    {%else%}
    <div class="card" style="width: 100%; margin-bottom: 10px">
        <div class="h3 card-header">Không có data.</div>
    </div>
    {%endif%}
    </div>
</section>
<section>
  <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1">First</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          Page {{ page_obj.previous_page_number }}
        </a>
              </li>
              {% endif %}

              <li class="page-item">
                  <a class="page-link">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </a>
              </li>

              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          Page {{ page_obj.next_page_number }}
        </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
          Last
        </a>
              </li>
              {% endif %}
          </ul>
      </nav>
  </div>
</section>
{%endblock%}